@media screen and (max-width:600px) {
    .nav-container {
        flex-direction: column;
        margin-left: 105px;
    }
    .item-container {
        flex-direction: column;
        margin-left: 40px;
        gap: 10px;
    }
    .img-container img {
        width: 600px;
        height: 480px;
        object-fit: cover;
    }
    .banner-section {
        flex-direction: column;
        margin: 0 auto;
        position: relative;
    }
    .input-field input {
        width: 70px;
        height: 10px;
        border-radius: 10px;
        border: none;
    }
    .text-container {
        margin: 0 auto;
    }
    .travel-heading {
        font-size: 30px;
        font-weight: 700;
        color: white;
        margin-bottom: 20px;
    }
    .input-field {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 100px;
        object-fit: cover;
    }
    .input-field button {
        width: 280px;
    }
    .input-field .common-btn {
        width: 280px;
    }
    .popular-text {
        /* border: 2px solid red; */
        width: 100%;
        margin-left: 20px;
    }
    .popular-section {
        display: grid;
        text-align: center;
    }
    .popular-img>img {
        width: 430px;
        height: 370px;
        object-fit: cover;
    }
    .destination-text {
        width: 100%;
    }
    .grid-item-1 {
        display: grid;
    }
    .grid-item-2 {
        display: grid;
    }
    .maldives-img img {
        width: 400px;
        height: 176px;
    }
    .Indonesia-img img {
        width: 400px;
        height: 176px;
    }
    .newsletter-section {
        display: grid;
    }
    .newsletter-img img {
        width: 400px;
    }
    .newsletter-text {
        width: 100%;
        /* border: 2px solid yellow; */
    }
    .discount {
        left: 30px;
    }
    .footer-img {
        padding-top: 20px;
    }
    .footer-tittle {
        font-size: 16px;
        text-align: center;
    }
    .icon-footer {
        justify-content: center;
    }
    .icon-footer>span>i {
        margin-right: 5px;
    }
}